.form{
    text-align: center;
}

.input-area{
    margin: 1rem 0;
    width: 30%;
}



/*output----------------------*/
button.copyUrl{
    background-color: red;
    color: white;
}

.output-box{
    width: 30%;
    margin: auto;
}
.output-box button{
    border-radius: 0;
    width: 30%;
}
.output-box p.shortened{
    border: 1px solid #363636;
    padding-bottom: calc(0.5em - 1px);
    padding-top: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
}
@media only screen and (max-width: 1024px){
    .output-box{
        width: 50%;
    }

}
@media only screen and (max-width: 480px){
    .input-area{
        width: 80%;
    }
    .output-box{
        width: 80%;

    }
}