.form{
    text-align: center;
}

.input-area{
    margin: 1rem 0;
    width: 30%;
}

.submit-button{
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
}

/*output----------------------*/
button.copyUrl{
    background-color: red;
    color: white;
}

.output-box{
    width: 30%;
    margin: auto;
}
.output-box button{
    width: 100%;
}
.output-box p.shortened{
    border: 1px solid #f5f5ff;
    padding-bottom: calc(0.5em - 1px);
    padding-top: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
}